/* Reset some default browser styles */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
  color: #000;
}

/* Apply a dark background color and light text color */
body {
  font-family: "Helvetica", sans-serif;
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

/* Style the header and navigation */
header {
  background-color: #e10600;
  color: #fff;
  font-weight: bold;
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  font-weight: bold;
  font-size: 25px;
}

/* Style the hero section */
.hero {
  background-image: url("../img/backgournd.png");
  background-size: cover;
  text-align: center;
  padding: 100px 0;
  margin-top: 69px;
}

.hero h1 {
  font-size: 3rem;
  color: #fff;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

a {
  color: #fff;
  text-decoration: none;
}

/* Style the news section */
.news {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 20px;
  margin: 15px;
}

/* 添加 loading 样式 */
.image-loading {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  line-height: 400px;
  position: absolute;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  font-size: 1.5rem;
  background-color: rgba(212, 212, 212, 0.8);
}

.card {
  position: relative;
  flex-basis: 45%;
  height: 400px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(248 242 242 / 70%);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.tag {
  font-family: "Titillium Web";
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 700;
  height: 15px;
  color: #e10600;
}

.card img {
  height: 60%;
  margin-bottom: 10px;
  transition: transform 0.2s;
}

.card:hover img {
  transform: scale(1.05);
}

.card h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

/* Style the footer */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: rgb(21, 21, 30);
  color: #fff;
}

footer p {
  color: #fff;
}

button {
  background-color: rgb(21, 21, 30);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.pagination-container {
  text-align: center;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.pagination-container button {
  margin: 0 1px;
  border-radius: 5px;
  padding: 15px 3em;
}

.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* to top */
.scroll-top-btn {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 20px;
  padding: 10px 15px;
  border-radius: 50px;
  background-color: rgb(21, 21, 30, 0.6);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 55px;
}

.scroll-top-btn:hover {
  background-color: rgb(21, 21, 30, 0.8);
  transition: background-color 0.3s ease;
}

.scroll-top-btn.show {
  display: block;
}

@media screen and (max-width: 768px) {
  nav ul li a {
    font-size: 20px;
  }
  /* Style the news section */
  .news {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .card {
    height: 268px;
    padding: 10px;
  }
  .card h2 {
    font-size: 1rem;
  }
  .card img {
    max-width: 80%;
  }
  .image-loading {
    line-height: 300px;
  }
}
