/* Reset some default browser styles */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* Apply a dark background color and light text color */
body {
  font-family: "Helvetica", sans-serif;
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
}

/* Style the header and navigation */
header {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

/* Style the hero section */
.hero {
  background-image: url("../../backgournd.png");
  background-size: cover;
  text-align: center;
  padding: 100px 0;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

a {
  color: #fff;
  text-decoration: none;
}

/* Style the news section */
.news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

/* 添加 loading 样式 */
.image-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 600px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-align: center;
  border-radius: 10px;
  font-size: 1.5rem;
  z-index: 1;
}

.card {
  flex-basis: 45%;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  padding: 30px;
  text-align: center;
  border-radius: 5px;
}

.tag {
  font-family: "Titillium Web";
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 700;
  color: #e10600;
}

.card img {
  max-width: 80%;
  height: auto;
  margin-bottom: 10px;
  transition: transform 0.2s;
}

.card:hover img {
  transform: scale(1.05);
}

.card h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

/* Style the footer */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

@media screen and (max-width: 1179px) {
  .card {
    flex-basis: 100%;
  }

  .card img {
    max-width: 100%;
  }

  .card h2 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 500px) {
  .card {
    flex-basis: 100%;
  }

  .card img {
    max-width: 100%;
  }

  .card h2 {
    font-size: 1rem;
  }
}

button {
  background-color: rgba(0, 0, 0, 0.7);
  color: #ddd;
  border-color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.pagination-container {
  text-align: center;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.pagination-container button {
  margin: 0 1px;
  border-radius: 5px;
  padding: 15px 3em;
}

.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* to top */
.scroll-top-btn {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 20px;
  padding: 10px 15px;
  border-radius: 50px;
  background-color: rgba(90, 89, 89, 0.8);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 55px;
}

.scroll-top-btn:hover {
  background-color: rgba(119, 115, 115, 0.8);
  transition: background-color 0.3s ease;
}

.scroll-top-btn.show {
  display: block;
}
